body {
  font-family: Rubik, sans-serif;
  background-color: #f1f3f6;
}

.container {
    
  margin-top: 50px;
  padding-left: 10px;  /* 50px from the left edge */
  padding-right: 40px; /* 50px from the right edge */
}

.header {
  text-align: right;
  font-size: 35px;
  margin-bottom: 0px;
  padding-right: 15px;
  }
  
.header3 {
  text-align: right;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-top: 0px;
  padding-right: 15px;
  color: #C1cbd8;
}

.switch input:disabled + .slider {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #999;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #929fb5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.control-row {
  font-size: 20px;
  font-weight: 600;
  display: flex;  /* Use flexbox */
  justify-content: space-between; /* Space out the elements */
  align-items: center;  /* Vertically center the items */
  width: 100%; /* Full width of the container */
  margin-top: 15px; /* Optional, just to add some vertical space */
  gap: 5vw;  /* This sets the spacing to be based on the viewport width */
  background-color: #ffffff;
  padding: 15px; /* Optional, just to add some padding */
  border-radius: 10px;
}